:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
  --color-primary: #FE142F;
  --color-secondary: #279e7a;
  --color-tertiary: #232323;
  --color-error: #e54858;
  --color-unchecked: #C4C4C4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Landing Page */

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-default);
  font-size: 18px;
  width: 100%;
}

#page-center{
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.topnav {
  margin: 3.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 25%;
}

.header-logo img{
  width: 100%;
}

.main-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.topnav a {
  color: #000000;
  text-align: center;
  padding: 12px 12px;
  margin: 5px;
  text-decoration: none;
  word-break: keep-all;
  font-family: var(--font-default);
}

.topnav a:hover {
  background-color: var(--color-primary);
  color: #ffffff;
  border-radius: 8px;
}

.topnav a.active {
  background-color: var(--color-primary);
  color: #ffffff;
  border-radius: 8px;
}

.topnav a.active span{
  position: relative;
}

.topnav a.active span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 2px;
  left: 0;
  border-bottom: white 1px solid;
}

#nav-list-btn {
  display: none;
  color: var(--color-primary);
  font-size: 28px;
}

main {
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px 15px;
  text-align: justify;
}

footer {
  margin: 20px;
  padding: 10px;
  font-family: var(--font-slab);
}

/* Modal form */

.button {
  background: var(--color-primary);
  padding: 10px;
  color: #fff;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: #3876ac;
}

.smFont {
  font-size: 16px;
}

.modal-bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-window {
  width: 100%;
  height: 85%;
  max-width: 500px;
  max-height: 867px;
  animation-name: modalOpen;
  animation-duration: var(--modal-duration);
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.3);
  background: var(--color-tertiary);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 36px;
}

.modal-body {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: relative;
}

#confirmation{
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#confirmation .hero-text{
  position: absolute;
  top: 40%;
  text-align: center;
  font-size: 32px;
}

#reserve{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-submit{
  position: absolute;
  bottom: 0;
}

#confirmation .btn-close{
  position: absolute;
  bottom: 0;
}

label {
  font-family: var(--font-default);
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 44px;
}

.formData[data-error]::after {
  content: attr(data-error);
  color: var(--color-error);
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: left;
  line-height: 0.9;
  font-size: 14px;
  font-weight: normal;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid var(--color-error);
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}

.checkbox2-label{
  display: block;
  margin-bottom: 12px;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display:block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-unchecked);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked+.checkbox-label .checkbox-icon::after,
.checkbox-input:checked+.checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked+.checkbox-label .checkbox-icon {
  border-color: var(--color-secondary);
}

.checkbox-input:checked+.checkbox2-label .checkbox-icon {
  background: var(--color-secondary);
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  z-index: 2;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit,
.btn-close,
.btn-signup {
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  padding: 12px 82px;
}

/* custom select styles */
.custom-select {
  position: relative;
  font-family: Arial;
  font-weight: normal;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: var(--color-primary);
  border-left-color: var(--color-primary);
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: #000;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.hero-section {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 0 6px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.hero-content {
  padding: 51px 67px;
  background: var(--color-tertiary);
  color: #fff;
  position: relative;
  text-align: left;
  width: 40%;
}

.hero-content .hero-text{
  margin-top: 57px;
}

.hero-content>* {
  position: relative;
}

.hero-headline {
  font-size: 92px;
  font-weight: 600;
  white-space: nowrap;
}

.hero-text {
  font-weight: normal;
  font-size: 22px;
  padding: 0;
}

.btn-signup {
  padding: 12px 24px;
  margin: 0;
  margin-top: 59px;
  font-size: 24px;
  font-family: var(--font-default);
}

.hero-img {
  flex-grow: 3;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}

.copyrights {
  color: var(--color-primary);
  padding: 0;
  margin: 60px 0 30px;
  font-weight: bolder;
}

.hero-section>.btn-signup {
  display: none;
}

footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
}

/* Responsive desktop*/

@media screen and (max-width: 1000px) {
  .hero-headline{
    font-size: 60px;
  }

  .main-navbar a {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .main-navbar a {
    font-size: 14px;
  }

  .hero-text{
    font-size: 18px;
  }

  .btn-signup {
    font-size: 20px;
  }
}

@media screen and (max-height: 970px) {
  .modal-window {
    height: 90%;
  }
}

@media screen and (max-height: 910px) {
  label{
    margin-bottom: 8px;
  }

  .text-control {
    height: 40px;
  }
}

@media screen and (max-height: 860px) {
  label{
    margin-bottom: 2px;
  }

  .text-control{
    padding: 12px;
  }

  .formData[data-error]::after{
    margin-bottom: 0px;
  }
}

@media screen and (max-height: 750px) {
  .modal-window{
    padding: 12px 18px;
  }

  .modal-window .close {
    top: 6px;
    right: 8px;
  }
}

/* Responsive mobile*/

@media screen and (max-width: 800px) {
  .header-logo {
    width: 160px;
  }

  .topnav {
    position: relative;
    margin: 0;
    width: 100%;
    z-index: 1;
    padding: 18px 24px 14px;
  }

  #nav-list-btn{
    display: block;
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-left: 12px;
  }

  main {
    margin-bottom: 0;
  }

  .main-navbar{
    position: absolute;
    width: 60%;
    top: 100%;
    right: 0;
    display: none;
    background-color: var(--color-tertiary);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    flex-direction: column;
  }

  .main-navbar a{
    color: white;
    text-align: left;
    padding-left: 14px;
    font-size: 18px;
  }

  .topnav.responsive .main-navbar {
    display: flex;
    animation-name: navOpen;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
  }

  .hero-section {
    display: block;
    box-shadow: unset;
  }

  .hero-content {
    background: #fff;
    color: #000;
    width: 100%;
    padding: 0;
  }

  .hero-content::after {
    content: unset;
  }

  .hero-content .btn-signup {
    display: none;
  }

  .hero-content .hero-text{
    margin-top: 17px;
  }

  .hero-headline {
    font-size: 38px;
  }

  .hero-text{
    font-size: 13px;
  }

  .hero-img img {
    border-radius: 10px;
    margin-top: 34px;
    max-height: 512px;
  }

  .hero-section>.btn-signup {
    display: block;
    margin: 24px auto 0;
    padding: 10px 35px;
    font-size: 14px;
  }

  footer{
    padding: 0;
  }

  .copyrights {
    margin: 18px;
    text-align: center;
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .modal-window {
    animation-name: modalOpenResponsive;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 90vh;
    position: absolute;
    padding: 24px;
    padding-bottom: 8px;
  }

  .btn-submit, .btn-close{
    padding: 5px 32px;
  }

  .text-control{
    height: 32px;
  }

  label{
    font-size: 14px;
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 480px) {
  .header-logo {
    width: 120px;
  }

  #nav-list-btn i{
    font-size: 24px;
  }

  .main-navbar{
    width: 100%;
    border-radius: 0;
  }

  .topnav.responsive .main-navbar {
    animation-name: none;
  }

  .main-navbar a{
    font-size: 16px;
  }

  label{
    font-size: 12px;
  }

  .formData[data-error]::after{
    font-size: 12px;
  }
}

@media screen and (max-width: 420px) {
  .hero-headline {
    font-size: 30px;
  }

  .formData[data-error]::after{
    font-size: 10px;
  }

  .checkbox-label{
    font-size: 10px;
  }

  .checkbox-label .checkbox-icon {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 380px) {
  .checkbox2-label{
    font-size: 10px;
  }

  .text-control{
    font-size: 14px;
    padding: 8px;
  }
}

@media screen and (max-width: 340px) {
  .modal-window{
    padding: 8px;
  }

  .modal-window .close{
    top: 2px;
    right: 4px;
  }

  .hero-headline {
    font-size: 20px;
  }
}

@keyframes modalOpen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
  }
}

@keyframes modalOpenResponsive {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes navOpen {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0px);
  }
}